thead{
    background-color: black;
    color: white;
    font-size: 1.2em;
}
th{
    background-color: rgb(53, 53, 53);
    padding: .9rem;
}

th:nth-child(1){
    background-color: black;
}
table{
    border-collapse: collapse;
    text-align: center;
    
}
td{
    padding: .9rem; 
    border: gray 1px solid;
}
td:first-child{
    font-weight: bold;
}

tr:nth-child(even){
    background-color: antiquewhite;
}

caption{
    font-size: .8rem;
    caption-side: bottom;
}