@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans&display=swap');
:root{
    --color01: #A7E8BD;
    --color02: #46351D;
    --color03: #7BDFF2;
    --color04: #FDCA40;
}

body {
    background-image:repeating-linear-gradient(var(--color03),var(--color04));
    max-width: 425px;
    margin: 0;
}

header{
    font-family: var(--fontJosefin);
}
#ordering-header h2{
   color: var(--color02);
   text-align: center;

}
picture img{
    max-width: 100%;
}

#calltoaction{
    font-size: larger;
    background-color: var(--color01);
    border-radius: 20px;
    color: #46351D;
    position: absolute;
    top: 15%;
    left: calc(50% - 52px);
}

fieldset{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
label{
    display: flex;
    flex-direction: column;
    width: 15rem;
}
#fruitSelector1, #fruitSelector2, #fruitSelector3{
    width: 200px;
}
#specialInstructions{
    height: 100px;
    width: 200px;
}
fieldset button{
    margin-top: 30px;
    margin-left: auto;
    width: 80px;
    background-color: var(--color03);
    border: #FDCA40 2px solid;
    border-radius: 15px;
}

.nav-menu {
    padding-left: 0px;
    margin-top: -5px;
    display: block;
    background-color: var(--color04);
    text-align: center;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.9s;
}

.nav-menu.active {
    max-height: 600px;

}
.hamburger-menu-button{
    position: absolute;
    top: 1%;
    left: 89%;
    border-radius: 15px;
    background-color: #FFD972;
    border: var(--color02) solid;
}
nav ul li{
    width: 100%;
}
nav ul li a {
    display: block;
    padding: 10px 0px;
    border-bottom: var(--color02) solid 2px;
    border-right: var(--color02) solid 2px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--color02);
    color:white;
}
#active {
    background-color: white;
    color:var(--color02);
}
/*weather segment*/
#weather-right{
    border: var(--color02) solid 1px;
    background-color: #FDCA40;
}

#weather-today{
    border-bottom: var(--color02) solid 1px;
   text-align: center;
}
#weather-forecast{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

/*FOOTER SEGMENT*/
footer{
    display: flex;
    flex-direction: column;
    font-family: var(--fontAcme),sans-serif;
    color: var(--color04);
    background-color: var(--color02);
    padding: 10px;
    border-top: var(--color02) solid 2px;
}
footer a{
    color: var(--color04);
}
#social-media-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    opacity: 100%;
}
#contact-information p{
    font-size: small;
    margin: 0;
}
#copyModifications{
    text-align: center;
}