@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&display=swap');
body {
    max-width: 425px;
}
header{
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: #061e94;
    text-align: center;
    padding: 15px 0px;
}
h1 {
    font-size: 1.5em;

}
h2 {
    font-size: 1.3em;
}
h3{
    background-color: #061e94;
    color: white;
    margin: 0px 0px;
    padding: 15px 0px;
    text-align: center;
}
section{
    margin: 10px 0px;
    border: black 2px solid;
    background-color: bisque;
}
section img {
    padding-top: 10px   ;
    max-width: 100%;
    
}
p,a {
    margin: 0px 0px;
    padding: 10px 8px;
}
footer{
    display: flex;
    background-color: #061e94;
    color: white;
    text-align: center;
    font-size: 0.8em;
}

@media screen and (min-width: 426px){
    
}
@media screen and (min-width: 769px) {
    
}