@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1C5373;
    --secondary-color: #FFFADD;
    --accent1-color: #F59F00;
    --accent2-color: #8ECDDD;
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto Slab", sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1C5373;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #22668D;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #FFFADD;
    /* paragraph text on a colored background */
    --paragraph-background-color: #1C5373;
    --nav-link-color: #FFFADD;
    --nav-background-color: #1C5373;
    --nav-hover-link-color: #1C5373;
    --nav-hover-background-color: #FFFADD;
}

.dark-mode{
    background-color: black;
    color:white;
}

body{
    max-width: 425px;
    margin: 0 auto;
    font-family: "Monserat", sans-serif;
}

header{
    display: grid;
    grid-template-columns: 45px 3fr 30px;
    grid-template-rows: 30px;
    font-family: 'Roboto slab', sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    justify-items: center;
    font-size: 0.4em;
    height: 30px;
}
header img {
    width: 90%;
}
header div {
    display: grid;
    place-items: center;
}
#hero-section{
    position: relative;
    width: 100%;
}
#hero-section img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.call-to-action-button{
    position: absolute;
    top: 60%;
    left: calc(50% - 54px)
}
.hamburger-menu-button{
    position: absolute;
    top: 100%;
    left: 89%;
}

.nav-menu {
    padding-left: 0px;
    margin-top: -5px;
    display: block;
    background-color: var(--nav-background-color);
    text-align: center;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.9s;
}

.nav-menu.active {
    max-height: 600px;

}

nav ul li{
    width: 100%;
}
nav ul li a {
    font-family: 'Roboto slab', sans-serif;
    color:var(--nav-link-color);
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}
#active {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}

img{
    max-width: 100%;
}
#home-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
}
#weather-sections{
    background-color: var(--accent2-color);
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
    text-align: center;
}


footer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: 8px 5px 5px #08135E;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

footer p {
    margin: 0 5px;
    text-align: center;
}

footer img {    
    max-width: 90px;
    height: auto;
    margin:0px 10px;
}
footer a {
    color: var(--secondary-color)
}
#lastModified{
    text-decoration: underline;
    color: orange;
    font-size: 0.9em;

}