@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1C5373;
    --secondary-color: #FFFADD;
    --accent1-color: #FFFF00;
    --accent2-color: #8ECDDD;
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto Slab", sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1C5373;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #22668D;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #FFFADD;
    /* paragraph text on a colored background */
    --paragraph-background-color: #1C5373;
    --nav-link-color: #FFFADD;
    --nav-background-color: #1C5373;
    --nav-hover-link-color: #1C5373;
    --nav-hover-background-color: #FFFADD;
}

.dark-mode{
    background-color: black;
    color:white;
}

#dark-mode.dark-mode1{
    color:white;
    background-color: black;
}

#dark-mode{
    color:black;
    background-color: white;
    border-radius: 8px;
}

body{
    max-width: 425px;
    margin: 0 auto;
    font-family: "Monserat", sans-serif;
}

header{
    display: grid;
    grid-template-columns: 45px 3fr 30px;
    grid-template-rows: 30px;
    font-family: 'Roboto slab', sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    justify-items: center;
    font-size: 0.4em;
    height: 30px;
}
header img {
    width: 100%;
}
header div {
    display: grid;
    place-items: center;
}
#hero-section{
    position: relative;
    width: 100%;
}
#hero-section img {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.call-to-action-button{
    height: 45px;
    font-family: var(--heading-font);
    font-size: 0.9em;
    border-radius: 15px;
    background-color: var(--nav-background-color);
    color: var(--paragraph-color-on-color);
    font-family: var(--heading-font);
    box-shadow: 5px 5px 8px var(--paragraph-color-on-color);
    position: absolute;
    top: 60%;
    left: calc(50% - 54px)
}
.hamburger-menu-button{
    position: absolute;
    top: 100%;
    left: 89%;
}

.nav-menu {
    padding-left: 0px;
    margin-top: -5px;
    display: block;
    background-color: var(--nav-background-color);
    text-align: center;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.9s;
}

.nav-menu.active {
    max-height: 600px;

}

nav ul li{
    width: 100%;
}
nav ul li a {
    font-family: 'Roboto slab', sans-serif;
    color:var(--nav-link-color);
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}
#active {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}

img{
    max-width: 100%;
}
#home-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    text-align: center;
    font-family: var(--paragraph-font);
}

#home-main h2, h3 {
    font-family: var(--heading-font);
}

#current-events-section img {
    border: solid black 3px;
    box-shadow: black 3px 3px 10px;
}
.spotlights img {
    border: solid black 3px;
    box-shadow: black 3px 3px 10px;
}
#weather-sections{
    background-color: var(--accent2-color);
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
    text-align: center;
}

#discover-main{
    display: block;
}

#counter-message{
    border: #1C5373 solid 2px;
}
#points-of-interest img{
    margin: 20px 0px;
    border: #1C5373 solid 2px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    box-shadow: 8px 5px 5px #08135E;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

footer p {
    margin: 0 5px;
    text-align: center;
}

footer img {    
    max-width: 90px;
    height: auto;
    margin:0px 10px;
}
footer a {
    color: var(--secondary-color)
}
#lastModified{
    text-decoration: underline;
    color: var(--accent1-color);
    font-size: 1.1em;

}
/*JOIN PAGE*/
#join-main{
    padding-top: 20px;
    display: block;
    width: 100%;
}
form{
    width: 100%;
}
/*FORM STYLING*/
input {
    display: block;
    padding: .5rem;
    font-size: 1rem;
    width: 15rem;
}
label{
    margin: .5rem 0;
    display: block;
}

#join-main button{
    font-size: 1.5rem;
    color: white;
    background-color: var(--headline-color-on-white);
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid white;
}
input:valid{
    box-shadow: 1px 1px 3px black;
}
input:invalid{
    box-shadow: 1px 1px 3px red;
}
#membership{
    margin-bottom: 20px;
}
#member-inp, #desc-inp{
    width: fit-content;
}
#description {
    width: 100%;
    height: 160px
}


/*TABLE STYLING*/
#ben-table{
    margin: 20px 0px;
    font-size: 0.5rem;
}
thead{
    background-color: black;
    color: white;
    font-size: 1.2em;
}
th{
    background-color: rgb(53, 53, 53);
    padding: .9rem;
}

th:nth-child(1){
    background-color: black;
}
table{
    border-collapse: collapse;
    text-align: center;
    
}
td{
    padding: .9rem; 
    border: gray 1px solid;
}
td:first-child{
    font-weight: bold;
}

caption{
    font-size: .8rem;
    caption-side: bottom;
}

/*Directory page*/

.directory-main{
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#selectors button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    color: var(--nav-link-color);
    background-color: var(--headline-color-on-white);
    border: 1px black solid;
}

#selectors button.active{
    color: var(--nav-link-color);
    background-color: var(--headline-color-on-white);
}

/* Cards view */

.directory-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.directory-info section{
    text-align: center;    
    border: 2px solid grey;
    border-radius: 15px ;    
    width: 300px;
    background-color: var(--nav-link-color);
    padding: 1rem;
    margin: .5rem;
}

.directory-info section{
    box-shadow: .5rem .5rem .5rem var(--hover-background-color);
}


.directory-info .gold-member{
    border: #F59F00 5px solid;
    box-shadow: .5rem .5rem .5rem gold;
}

.directory-info .card-button{
    text-decoration: none;
    color: var(--nav-hover-background-color);
    background-color: var(--headline-color-on-white);
    padding: .5rem;
    border-radius: 5px;
}

/* List View */

.directory-list{    
    display: grid;    
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list .card-button{
    text-decoration: underline;
    color: black;    
}


.directory-list section:nth-child(odd) {
    background-color: var(--background-color);
}

.directory-list section:nth-child(even) {
    background-color: var(--hover-background-color)
}

 