:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1C5373;
    --secondary-color: #FFFADD;
    --accent1-color: #F59F00;
    --accent2-color: #8ECDDD;
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto Slab", sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1C5373;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #22668D;
    /* paragraph text on a white background */
    --paragraph-color-on-color: #FFFADD;
    /* paragraph text on a colored background */
    --paragraph-background-color: #1C5373;
    --nav-link-color: #FFFADD;
    --nav-background-color: #1C5373;
    --nav-hover-link-color: #1C5373;
    --nav-hover-background-color: #FFFADD;
}
@media only screen and (min-width: 1000px){
body{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    justify-content:space-around;
    font-size: 1em;
    height: 70px;
}
header img {
    width: 15%;
}
#hero-section{
    position: relative;
    width: 100%;
}
#hero-section img {
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 1200px;
    max-height: 400px;
}

.call-to-action-button{
    position: absolute;
    top: 65%;
    left: calc(50% - 54px);
    width: 160px;
    height: 60px;
    font-size: 1.3em;
}
.hamburger-menu-button{
    display: none;
}
.nav-menu{
    padding-left: 0px;
    margin-top: -5px;
    display: flex;
    background-color: var(--nav-background-color);
    text-align: center;
    list-style-type: none;
    max-height: fit-content;
}

nav ul li{
    width: 100%;
}
nav ul li a {
    font-family: 'Oswald', sans-serif;
    color:var(--nav-link-color);
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}

#home-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px;
    text-align: center;
    font-family: var(--paragraph-font);
}

#current-events-section{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 50px 1fr;
    grid-gap: 10px;
    grid-column: 1/3;
    grid-row: inherit;
}

#spotlights{
    border-top: 10px solid var(--accent1-color);
    display: flex;
    grid-column: 1/4;
    grid-row: 2/3;
}

#current-events-section h2{
    grid-column: 1/3;
    grid-row: 1/2;
}

#current-events-section img {
    grid-column: 1/2;
    grid-row: 2/3;
    border: solid black 3px;
    box-shadow: black 3px 3px 10px;
}
.spotlights img {
    border: solid black 3px;
    box-shadow: black 3px 3px 10px;
}
#weather-sections{
    background-color: var(--accent2-color);
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    margin: 0 auto;
    text-align: center;
}

#discover-main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#counter-message{
    grid-column: 1/2;
    grid-row: 1/2;
    border: none;
}
#points-of-interest{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
footer{
    display: grid;
    background-color: var(--primary-color);
    box-shadow: 8px 5px 5px #08135E;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

footer p {
    margin: 0 5px;
}
footer img {
    max-width: 90px;
    height: auto;
    margin:0px 10px;
}
#lastModified{
    text-decoration: underline;
    color: orange;
    font-size: 0.9em;

}
}