@media only screen and (min-width: 426px){

    body{
        max-width: 769px;
        margin: 0 auto;
    }

    input {
        display: block;
        padding: .5rem;
        font-size: 1.5rem;
        width: 26rem;
    }
    label{
        margin: .5rem 0;
        display: block;
        width: 100%;
    }
    #ben-table{
        font-size: large;
    }

}


