@import url('https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root {
    --background-color: #1C5373;
    --secondary-color: #FFFADD;
    --accent1-color: #F59F00;
    --accent2-color: #8ECDDD;
    --heading-font: "Roboto Slab", sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --headline-color-on-white: #1C5373;
    --headline-color-on-color: white;
    --paragraph-color-on-white: #22668D;
    --paragraph-color-on-color: #FFFADD;
    --paragraph-background-color: #1C5373;
    --nav-link-color: #FFFADD;
    --nav-background-color: #1C5373;
    --nav-hover-link-color: #1C5373;
    --nav-hover-background-color: #FFFADD;
}
/*Head things*/
body {
    max-width: 650px;
}
header{
    display: flex;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: var(--background-color);
    align-items: center;
    justify-content: center;
    font-size: 1em;
}
header img {
    max-width: 60px;
    height: auto;
    margin:10px 10px;
    box-shadow: 4px 4px 8px white;
}
header h1 {
    justify-content: center;
    margin:10px 10px;
}

nav ul{
   
    margin-top: 5px;
    display: grid;
    background-color: var(--nav-background-color);
    text-align: center;
    list-style-type: none;
}

nav ul li{
    width: 100%;
}
nav ul li a {
    font-family: 'Oswald', sans-serif;
    color:var(--nav-link-color);
    text-decoration: none;
    display: block;
    padding: 10px 0px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}
#active {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-link-color);
}

/*Here lise stuff that is not in the head*/

main {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin: auto;
}
#temple-container{
    position: relative;
    z-index: 1;
}
#temple-title{
    color: var(--accent1-color);
    text-shadow: #08135E 1px 1px 1px;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 15%;
    left: 60%;
}
picture{
    padding-top: 5px;
    max-width: 100%;
}
picture img {
    max-width: 100%;
}
h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 1.2em;
    border-bottom: rgb(255, 174, 0) 2px dashed;
}
.assignment-card, .weather-card{
    border: black 2px solid;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 4px 4px 8px black;
    
}
.assignment-card ul {
    padding-left: 10px;
}
.weather-card {
    text-align: center;
    display: inline;
    vertical-align: middle;
}
.mapthing {
    border: #3D4338 5px solid;
    margin: 15px 15px;
    box-shadow: 4px 4px 8px black;

}
iframe{
    width: 100%;
    
    
}

h3 {
    background-color: var(--background-color);
    color: white;
    margin-top: 0px;
    padding: 15px 0;
    text-align: center;
}
main > h2, main > section {
    margin-bottom: 10px;
}

footer{
    display: grid;
    background-color: var(--background-color);
    box-shadow: 8px 5px 5px #08135E;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

footer p {
    margin: 0 5px;
}
footer img {
    max-width: 90px;
    height: auto;
    margin:0px 10px;
}
#lastModified{
    text-decoration: underline;
    color: orange;
    font-size: 0.9em;

}
/*I stole it kek*/
.burger-row {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #08135E;
    position: absolute;
    border-radius: 4px;
    top: 9px;
    transition: all 0.5s;
}

.burger-row:first-child {

}
.burger-row:last-child {
    margin-top: 10px;
}

.nav-menu {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 1s;
}

.active.nav-menu {
    max-height: 500px;
}

.active .burger-row:first-child {
    transform: rotate(45deg);
    width: 40px;
    left: -6px;
    top: 13px;
}
.active .burger-row:last-child {
    margin-top: 0px;
    transform: rotate(-45deg);
    width: 40px;
    left: -6px;
    top: 13px;
}

.menu-burger {
    display: block;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 80px;
    z-index: 2;
    background-color: var(--accent1-color);
}


@media only screen and (min-width: 651px) {
    header img {
        width: auto;
        height: auto;
        margin:10px 10px;
    }
    body {
        max-width: 810px;
        font-size: 1em;
        margin: 0 auto;
    }
    #temple-title{
        font-size: 2em;
    }

}